
body {
  background-color: rgb(0, 2, 139)

}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid rgb(243, 245, 247);
  background-color: rgb(11, 98, 5);
}

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: rgb(197, 185, 10);
  z-index: 2;
}

#snake-head {
  background-color: rgb(197, 185, 10);
}

.apple {
  background-color: red;
  z-index: 1;
}